.root {
  display: flex;
}

.body {
  order: 1;
  flex: 0 1 50rem;
  overflow: hidden;
  padding-right: 1rem;
}

.navContainer {
  order: 2;
  flex: 1 0 15rem;
}

@media (max-width: 50rem) {
  .root {
    display: block;
  }

  .body {
    padding-right: 0;
  }

  .navContainer {
    margin-bottom: 2rem;
  }
}